<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GstPlayground.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <GstPlayground.Properties.Settings>
            <setting name="upgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="launchDict" serializeAs="Xml">
                <value>
                    <SerializableStringDictionary>
                        <Pair Name="testsrc" Value="videotestsrc ! queue ! videoconvert ! d3d11videosink name=prevSink" />
                        <Pair Name="testsrcauto" Value="videotestsrc ! queue ! videoconvert ! autovideosink name=prevSink" />
                        <Pair Name="rtsp1" Value="gst-launch-1.0.exe rtspsrc location=rtsp://192.168.0.226:554/Videoinput/1/h264/1 latency=0 drop-on-latency=true ! rtph264depay ! h264parse ! d3d11h264dec ! videoconvert ! autovideosink" />
                        <Pair Name="d3dball" Value="d3d11compositor name=c ! d3d11videosink videotestsrc ! video/x-raw,width=320,height=240 ! c. videotestsrc pattern=ball ! video/x-raw,width=100,height=100 ! c." />
                    </SerializableStringDictionary>
                </value>
            </setting>
        </GstPlayground.Properties.Settings>
    </userSettings>
</configuration>
